#body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#logo {
    width: 300px;
    height: 300px;
    margin: 0px auto;
}


#card {
    width: 16rem;
    margin-left: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#header {
    background-color: blanchedalmond;
 
}

