#body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-image: url('/img/Donut-Wallpaper.jpg')
}


#header {
    height: 250px;
    background-color: #A3701A;
}

#logo {
    width: 300px;
    height: auto;
    margin: 0 auto;
}

#navbar {
    background-color: #eae586 !important;
}

#card {
    width: 16rem;
    margin-left: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
