#body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}


#header {
    height: 250px;
    background-color: #a3701a;
   
}

#logo {
    width: 300px;
    height: auto;
    margin: 0 auto;
}

#navbar {
    background-color: #eae586 !important;
}

